@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: rgb(8, 5, 41);
  margin: 0;
  padding: 0;
  width: 100vw;
}
div,section{
  transition: 5s ease-in-out;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
}
p, b, button{
  font-size: 1.4rem;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.6rem;
}
h3{
  font-size: 2rem;
  font-weight: bold;
}
li{
  transition: 0.2s ease-in-out;
}
li:hover{
  background-color: 	rgb(8, 5, 41);
    transition: 0.2s ease-in-out;
    }
li:active{
  background-color: rgb(69, 61, 152);
    transition: 0.1s ease-in-out;
    }
figure {
  margin: 0;
}
button, .button{
  background-color: 	rgb(122, 115, 203);
  padding: 1rem;
  border-radius: 10rem;
  transition: 0.1s ease-in-out;  
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover, .button:hover{
  background-color: 	rgb(156, 151, 213);
}
